.btn {
    outline: none;
    background-color: transparent;
    // min-width: 5rem;
    padding: .5rem;
    border-width: .1rem;
    border-style: solid;
    cursor: pointer;
    border-radius: .3rem;
    font-weight: bold;
    &-block{
        display: block;
        width: 100%;
    }
    &-sm{
        padding: .5rem 1rem;
    }
    &-md{
        padding: .8rem 1.4rem;
    }
    &-lg{
        padding: .9rem 1.8rem;
    }
    &-primary{
        background-color: var(--primary-color);
        border-color: var(--primary-color-darken);
        color: var(--light-font-color);
        transition-duration: .4s;
        
        &:hover{
            background-color: var(--primary-color-darken);
            transition-duration: .4s;
        }
        &:disabled{
            opacity: .8;
            cursor: not-allowed;
        }
    }
}