// roboto
@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto/Roboto-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto/Roboto-Medium.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto/Roboto-Bold.ttf');
    font-weight: bolder;
}

@font-face {
    font-family: 'roboto';
    src: url('/fonts/Roboto/Roboto-Light.ttf');
    font-weight: lighter;
}
// lato 
@font-face {
    font-family: 'lato';
    src: url('/fonts/Lato/Lato-Regular.ttf');
    font-weight: normal;
}

@font-face {
    font-family: 'lato';
    src: url('/fonts/Lato/Lato-Bold.ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'lato';
    src: url('/fonts/Lato/Lato-Light.ttf');
    font-weight: lighter;
}