.change-password-page{
    .change-password-card{
        width: 45rem;
        max-width: 85%;
        margin: 0 auto;
        border: .1rem solid lightgray;
        padding-bottom: 2rem;
        border-radius: .5rem;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
    }
}